@model List<DanhMuc>

@foreach(var item in Model)
{
	<div class="input-checkbox">
		<input type="checkbox" id="@item.MaDanhMuc" value="@item.MaDanhMuc" onchange="setFilterProductsByCB('madanhmuc',this)">
		<label for="@item.MaDanhMuc">
			<span></span>
			@item.TenDanhMuc
		</label>
	</div>
}

<script>
	const setAllCbChecked = () => {
		const queryString = window.location.search
		const urlParams = new URLSearchParams(queryString.split('?')[1]);
		for (const [param, value] of urlParams.entries()) {
			for (v of value.split(',')) {
				$(`input[type="checkbox"][value='${v}']`).prop("checked", true);
			}

		}
	}

	const setFilterProductsByCB = (type, checkbox) => {
		const query = $(checkbox).val().trim(); 
		const queryString = window.location.search
		const urlParams = new URLSearchParams(queryString.split('?')[1]);
		urlParams.set("page",1 ); 
		if (urlParams.get(type) == null) {
			urlParams.append(type, query);
			const newUrl = window.location.pathname + '?' + urlParams.toString();
			window.location.href = newUrl;
			return;
		}

		const valueTypes = urlParams.get(type).split(',');
		if (checkbox.checked) {
			valueTypes.push(query);
			urlParams.set(type, valueTypes.join(","));
		} else {
			const newValueTypes = valueTypes.filter(x => x !== query);
			if(newValueTypes.length > 0) {
				urlParams.set(type, newValueTypes.join(","));
			} else {
				urlParams.delete(type); 
			}

		}
		 
		const newUrl = window.location.pathname + '?' + urlParams.toString();
		window.location.href = newUrl;
	}

	$(document).ready(function () {
		setAllCbChecked();
	})
</script>