@model List<DanhMuc>

@foreach(var item in Model)
{
	<div class="input-checkbox">
		<input type="checkbox" id="@item.MaDanhMuc" value="@item.MaDanhMuc" onchange="setFilterProductsByCB('madanhmuc',this)">
		<label for="@item.MaDanhMuc">
			<span></span>
			@item.TenDanhMuc
		</label>
	</div>
}

<script>
	const setAllCbChecked = () => {
		const queryString = window.location.search
		const urlParams = new URLSearchParams(queryString.split('?')[1]);
		for (const entry of urlParams.entries()) {
			const [param, value] = entry;
			for (v of value.split(',')) {
				$(`input[type="checkbox"][value='${v}']`).prop("checked", true);
			}

		}
	}

	const setFilterProductsByCB = (type, checkbox) => {
		const query = $(checkbox).val().replace(/[\n\t]/g, '');
		const queryString = window.location.search
		const urlParams = new URLSearchParams(queryString.split('?')[1]);

		if (urlParams.get(type) == null) {
			urlParams.append(type, query);
			const newUrl = window.location.pathname + '?' + urlParams.toString();
			window.location.href = newUrl;
			return;
		}

		const valueTypes = urlParams.get(type).split(',');
		if (checkbox.checked) {
			valueTypes.push(query);
			console.log(valueTypes);
			urlParams.set(type, valueTypes.join(","));
		} else {
			const newValueTypes = valueTypes.filter(x => x !== query);
			urlParams.set(type, newValueTypes.join(","));
			console.log(newValueTypes);

		}
		const newUrl = window.location.pathname + '?' + urlParams.toString();
		window.location.href = newUrl;
	}

	$(document).ready(function () {
		setAllCbChecked();
	})
</script>