@{
    Layout = null;
}
@model TaiKhoanUser
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Material Design for Bootstrap</title>
    <!-- MDB icon -->
    <link rel="icon" href="../md5/img/mdb-favicon.ico" type="image/x-icon" />
    <!-- Font Awesome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
    <!-- MDB -->
    <link rel="stylesheet" href="../md5/css/mdb.min.css" />
    <link rel="stylesheet" href="../_login/style.css" />
</head>
<body>
    <!-- Start your project here-->
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                         class="img-fluid" alt="Phone image">
                </div>
                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                    <h1 class="mb-4">Register</h1>
                    @*<form method="post" asp-controller="Access" asp-action="Login">*@
                    @using (Html.BeginForm("Register", "Access", FormMethod.Post, new { id = "registerForm" }))
                    {
                        <!-- Email input -->
                        <p class="form__text-red mb-2" id="error-name" style="font-size:13px;color: red;"></p>
                        <div class="form-outline mb-4">
                            @Html.TextBoxFor(x=>x.TenTaiKhoan, new{@class="form-control form-control-lg",  @id = "username" ,required = "required", autofocus="autofocus" })
                            @*  <input type="text" id="username" class="form-control form-control-lg" />*@
                            <label class="form-label" for="username">Username</label>
                        </div>

                        <p class="form__text-red mb-3" id="error-password" style="font-size:13px;color: red;"></p>
                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            @Html.TextBoxFor(x=>x.MatKhau, new{@class="form-control form-control-lg", @id = "password", type="password"})
                            @*<input type="password" id="password" class="form-control form-control-lg" />*@
                            <label class="form-label" for="password">Password</label>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="password" id="confirm-pasowrd" class="form-control form-control-lg" />
                            <label class="form-label" for="confirmPassword">Password confirm</label>
                        </div>
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
                    }
                    @* </form>*@
                </div>
            </div>
        </div>
    </section>
    <!-- End your project here-->
    <!-- MDB -->
    <script type="text/javascript" src="../md5/js/mdb.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript"></script>
    <script>
        // REGISTER

    const Validiation = () =>  {
            let name = document.getElementById('username').value;
            let check_error_name = document.getElementById('error-name');
          

            if (name == '') {
                check_error_name.innerHTML = '* Họ tên không được để trống!'
                return false; 
            }

            check_error_name.innerHTML = '';
            
            let pass = document.getElementById('password').value;
            let check_error_pass = document.getElementById('error-password');
            let regexPass = /\ /;

            if (pass == '') {
                check_error_pass.innerHTML = '* Mật khẩu không được để trống!';
                return false; 
            }
            if (regexPass.test(pass)) {
                check_error_pass.innerHTML = '* Mật khẩu không được chứa dấu cách!';
                return false;
            } 
            
            if (pass.length < 6) {
                check_error_pass.innerHTML = 'Mật khẩu phải lớn hơn 6 kí tự!';
                return false;
            }

            check_error_pass.innerHTML = '';

            let confirmPass = document.getElementById('confirm-pasowrd').value;
            let check_error_cfrm_pass = document.getElementById('error-password');
            if (confirmPass !== pass)  {
                check_error_cfrm_pass.innerHTML = 'Mật khẩu không trùng nhau'; 
                return false; 
            }

            return true; 

    }

        const form = document.getElementById('registerForm');

        form.onsubmit = (event) => {
            if (!Validiation()) {
                event.preventDefault();
            }
        };
    </script>
</body>
</html>


