
@{
    ViewData["Title"] = "GioHang";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a href="home">Home</a></li>
                    <li class="active">Cart</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<div style="max-width: 1000px; margin: 50px auto;display:none;" id="has-show-checkout" >
    <div class="line" style="display:flex; align-items:center;padding: 10px 18px;border-bottom: 2px solid #ccc">
        <div style="width: 12%;"></div>
        <div style="width: 25%;">
            <p style="margin: 0;font-weight: 600;font-size: 16px;">Tên sản phẩm</p>
        </div>
        <div style="width:20%;">
            <p style="margin: 0;font-weight: 600;font-size: 16px">Đơn giá</p>
        </div>
        <div style="width: 20%;">
            <p style="margin: 0;font-weight: 600;font-size: 16px">Số lượng</p>
        </div>
        <div style="width: 10%;">
            <p style="margin: 0;font-weight: 600;font-size: 16px">Tổng tiền</p>
        </div>

    </div >
    <div id="showPcart">
        
    </div>
    <div style="display:flex;justify-content:space-between;align-items:center; padding-top:10px; border-top:1px solid #ccc;">
    <div><strong style="font-size:22px;">TOTAL</strong></div>
    <div><strong style="font-size:22px; color:#D10024;" class="cart-total-price">0</strong></div>
    </div>
    <button class="checkout-btn" style="border-radius:20px; padding: 12px 24px; color:#fff; background-color:#D10024; margin-top: 20px; margin-left:-4px; outline:none; border:none;" onclick="addProductToCheckout()">Checkout</button>
</div>
<h3 id="empty-cart" style="text-align:center;padding-bottom:20px;">Chưa có sản phẩm nào trong giỏ hàng</h3>

<script src="~/js/cart.js">
</script>
